<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring project - Document Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">

    <h2>Document Details</h2>
    <div>
        <form action="#" class="form-horizontal" th:object="${document}" th:action="@{/document}" method="post">
            <table>
                <tr>
                    <td>Id:</td>
                    <td><input type="text" th:field="*{id}" /></td>
                    <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</td>
                </tr>
                <tr>
                    <td>Hash:</td>
                    <td><input type="text" th:field="*{hash}" /></td>
                    <td th:if="${#fields.hasErrors('hash')}" th:errors="*{hash}">Hash Error</td>
                </tr>

                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}" /></td>
                    <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
                </tr>
                <tr>
                    <td>Format:</td>
                    <td><input type="text" th:field="*{format}" /></td>
                    <td th:if="${#fields.hasErrors('format')}" th:errors="*{format}">Format Error</td>
                </tr>
                <tr>
                    <td>Url:</td>
                    <td><input type="text" th:field="*{url}" /></td>
                    <td th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Url Error</td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" th:field="*{title}" /></td>
                    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
                </tr>
                <tr>
                    <td>DocumentOf:</td>
                    <td><input type="text" th:field="*{documentOf}" /></td>
                    <td th:if="${#fields.hasErrors('documentOf')}" th:errors="*{documentOf}">DocumentOf Error</td>
                </tr>
                <tr>
                    <td>DatePublished:</td>
                    <td><input type="text" th:field="*{datePublished}" /></td>
                    <td th:if="${#fields.hasErrors('datePublished')}" th:errors="*{datePublished}">DatePublished Error</td>
                </tr>
                <tr>
                    <td>DateModified:</td>
                    <td><input type="text" th:field="*{dateModified}" /></td>
                    <td th:if="${#fields.hasErrors('dateModified')}" th:errors="*{dateModified}">DateModified Error</td>
                </tr>
                <tr>
                    <td>DocumentType:</td>
                    <td><input type="text" th:field="*{documentType}" /></td>
                    <td th:if="${#fields.hasErrors('documentType')}" th:errors="*{documentType}">DocumentType Error</td>
                </tr>
                <tr>
                    <td>RelatedItem:</td>
                    <td><input type="text" th:field="*{relatedItem}" /></td>
                    <td th:if="${#fields.hasErrors('relatedItem')}" th:errors="*{relatedItem}">RelatedItem Error</td>
                </tr>
            </table>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>