<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring project - Show Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<table>
    <tr>
        <td>Document Id:</td><td><p th:text="${document.id}">Document Id</p></td>
    </tr>
    <tr>
        <td>Document Hash:</td><td><p th:text="${document.hash}">Document Hash</p></td>
    </tr>
    <tr>
        <td>Document Description:</td><td><p th:text="${document.description}">Document Description</p></td>
    </tr>
    <tr>
        <td>Document Format:</td><td><p th:text="${document.format}">Document Format</p></td>
    </tr>
    <tr>
        <td>Document Url:</td><td><p th:text="${document.url}">Document Url</p></td>
    </tr>
    <tr>
        <td>Document Title:</td><td><p th:text="${document.title}">Document Title</p></td>
    </tr>
    <tr>
        <td>Document DocumentOf:</td><td><p th:text="${document.documentOf}">Document DocumentOf</p></td>
    </tr>
    <tr>
        <td>Document DatePublished:</td><td><p th:text="${document.datePublished}">Document DatePublished</p></td>
    </tr>
    <tr>
        <td>Document DateModified:</td><td><p th:text="${document.dateModified}">Document DateModified</p></td>
    </tr>
    <tr>
        <td>Document DocumentType:</td><td><p th:text="${document.documentType}">Document DocumentType</p></td>
    </tr>
    <tr>
        <td>Document RelatedItem:</td><td><p th:text="${document.relatedItem}">Document RelatedItem</p></td>
    </tr>
</table>
</body>
</html>